$theme-dark-blue: #0056b8;
$theme-blue: #038eff;
$theme-light-blue: #67bdff;
$theme-text-primary: #ffffff;

$screen-large: 1000px;
$screen-medium: 850px;
$screen-small: 600px;
$screen-extrasmall: 500px;

$page-margin: 1rem;

body {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: calc(100vh - 2 * #{$page-margin});
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $theme-text-primary;
  background: $theme-dark-blue; // fallback
  background: linear-gradient(
    45deg,
    $theme-light-blue 0%,
    $theme-blue 50%,
    $theme-dark-blue 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-nostyle {
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: transparent;
  border: none;
}

%flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  min-height: calc(100vh - 2 * #{$page-margin});
  margin: $page-margin;
  @extend %flex-centered;
  flex-direction: column;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.link-container {
  @extend %flex-centered;
  flex-direction: column;
}

.link-icon {
  margin: 0.1rem;
}

.link-icon-label {
  font-size: 0.8rem;
  margin: 0.1rem;
}

.input-nostyle {
  background: none;
  border: none;
  border-color: transparent;
  outline: none;
}

.exchange-amount-input {
  width: 25vw;
  @media screen and (max-width: $screen-medium) {
    width: 35vw;
  }
  @media screen and (max-width: $screen-small) {
    width: 45vw;
  }
  @media screen and (max-width: $screen-extrasmall) {
    width: 60vw;
  }
  text-align: center;
  color: $theme-text-primary;
  font-size: 2rem;
  padding: 1rem;
  line-height: 2rem;
  &::placeholder {
    color: rgba($theme-text-primary, 0.5);
    font-size: 2rem;
  }
}

.exchange-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.blur {
  filter: blur(2px);
}
.rate-display {
  height: 1rem;
  margin: 1rem;
}

.exchange-button {
  cursor: pointer;
  color: $theme-text-primary;
  font-size: 1.5rem;
  padding: 0.25rem;
}
